In [2]:
#pip install lxml

Collecting lxml
  Downloading lxml-4.6.1-cp37-cp37m-win_amd64.whl (3.5 MB)
Installing collected packages: lxml
Successfully installed lxml-4.6.1
Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas as pd
dfs = pd.read_html('https://www.cht.com.tw/home/apple/iphone/index')

In [17]:
df = dfs[0]  #所有的購機方案

In [6]:
df.head()

,月繳金額,月繳金額.1,月繳金額.2,$599,$799,$999,$1199,"$1,399","$1,599","$1,799","$2,699"
0,購機優惠價(元),48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月
1,購機優惠價(元),iPhone 12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,購機優惠價(元),iPhone 12,64GB,-,-,13300,10800,0,0,0,0
3,購機優惠價(元),iPhone 12,128GB,-,-,14900,12400,0,0,0,0
4,購機優惠價(元),iPhone 12,256GB,-,-,18400,15900,4400,2400,400,0

In [18]:
df[df['月繳金額.1'].str.contains('個月')]  #找出月繳金額.1這個欄位裡有出現*個月的資料筆數

        月繳金額 月繳金額.1 月繳金額.2  $599  $799  $999 $1199 $1,399 $1,599 $1,799 $2,699
0   購機優惠價(元)   48個月   48個月  48個月  48個月  48個月  48個月   48個月   48個月   48個月   48個月
9   購機優惠價(元)   36個月   36個月  36個月  36個月  36個月  36個月   36個月   36個月   36個月   36個月
18  購機優惠價(元)   30個月   30個月  30個月  30個月  30個月  30個月   30個月   30個月   30個月   30個月
27  購機優惠價(元)   24個月   24個月  24個月  24個月  24個月  24個月   24個月   24個月   24個月   24個月

In [19]:
df['month'] = df['月繳金額.1'].str.extract('(\d+)個月') #將數字部分填入一個叫month的欄位裡

In [20]:
df['month'] = df['month'].ffill() #該欄位下有很多都是空值，但契約長度與第一筆相同，故向後填滿

In [23]:
#DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)  
#參考:https://www.itread01.com/content/1544495051.html 參數說明
df.dropna(inplace=True) #inplace=True直接在原資料做刪除整列

In [24]:
df.head()

,月繳金額,月繳金額.1,月繳金額.2,$599,$799,$999,$1199,"$1,399","$1,599","$1,799","$2,699",month
0,購機優惠價(元),48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48
2,購機優惠價(元),iPhone 12,64GB,-,-,13300,10800,0,0,0,0,48
3,購機優惠價(元),iPhone 12,128GB,-,-,14900,12400,0,0,0,0,48
4,購機優惠價(元),iPhone 12,256GB,-,-,18400,15900,4400,2400,400,0,48
6,購機優惠價(元),iPhone 12 Pro,128GB,-,-,20300,17800,6300,4300,2300,0,48

In [28]:
#有一列全部資料為個月，要將其過濾
df2 = df[~df['月繳金額.1'].str.contains('個月')] #加上波浪，排除月繳金額.1裡，有幾個月資料的筆數

In [29]:
df2.head()

,月繳金額,月繳金額.1,月繳金額.2,$599,$799,$999,$1199,"$1,399","$1,599","$1,799","$2,699",month
2,購機優惠價(元),iPhone 12,64GB,-,-,13300,10800,0,0,0,0,48
3,購機優惠價(元),iPhone 12,128GB,-,-,14900,12400,0,0,0,0,48
4,購機優惠價(元),iPhone 12,256GB,-,-,18400,15900,4400,2400,400,0,48
6,購機優惠價(元),iPhone 12 Pro,128GB,-,-,20300,17800,6300,4300,2300,0,48
7,購機優惠價(元),iPhone 12 Pro,256GB,-,-,23800,21300,9800,7800,5800,0,48

In [30]:
#處理欄位名稱
df2.columns

Index(['月繳金額', '月繳金額.1', '月繳金額.2', '$599', '$799', '$999', '$1199', '$1,399',
       '$1,599', '$1,799', '$2,699', 'month'],
      dtype='object')

In [31]:
df2.columns = ['購機優惠價', '機型', '容量', '$599', '$799', '$999', '$1199', '$1,399',
       '$1,599', '$1,799', '$2,699', 'month']

In [33]:
df2.head()

,購機優惠價,機型,容量,$599,$799,$999,$1199,"$1,399","$1,599","$1,799","$2,699",month
2,購機優惠價(元),iPhone 12,64GB,-,-,13300,10800,0,0,0,0,48
3,購機優惠價(元),iPhone 12,128GB,-,-,14900,12400,0,0,0,0,48
4,購機優惠價(元),iPhone 12,256GB,-,-,18400,15900,4400,2400,400,0,48
6,購機優惠價(元),iPhone 12 Pro,128GB,-,-,20300,17800,6300,4300,2300,0,48
7,購機優惠價(元),iPhone 12 Pro,256GB,-,-,23800,21300,9800,7800,5800,0,48

In [35]:
#把有$的不同欄位變成，一個欄位裡的資訊
#df2裡有包含$的做轉換，i是要留下的欄位，j是新欄位名稱，suffix是指定要填入什麼(數字)
df3 = pd.wide_to_long(df2,['$'],i = ['購機優惠價','機型','容量','month'],j = 'monthly_price',suffix = '[\d+,]+')

In [37]:
#將索引變成欄位
df3.reset_index(inplace=True)

In [39]:
df3.head()

      購機優惠價         機型    容量 month monthly_price      $
0  購機優惠價(元)  iPhone 12  64GB    48           599      -
1  購機優惠價(元)  iPhone 12  64GB    48           799      -
2  購機優惠價(元)  iPhone 12  64GB    48           999  13300
3  購機優惠價(元)  iPhone 12  64GB    48          1199  10800
4  購機優惠價(元)  iPhone 12  64GB    48         1,399      0

In [42]:
#將$欄位裡有-的欄位排除
df4 = df3[df3['$'] != '-']

In [43]:
df4.head()

      購機優惠價         機型    容量 month monthly_price      $
2  購機優惠價(元)  iPhone 12  64GB    48           999  13300
3  購機優惠價(元)  iPhone 12  64GB    48          1199  10800
4  購機優惠價(元)  iPhone 12  64GB    48         1,399      0
5  購機優惠價(元)  iPhone 12  64GB    48         1,599      0
6  購機優惠價(元)  iPhone 12  64GB    48         1,799      0

In [45]:
#查看一下欄位資料的型態，會發現month,monthly_price與$為字串型態
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180 entries, 2 to 191
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   購機優惠價          180 non-null    object
 1   機型             180 non-null    object
 2   容量             180 non-null    object
 3   month          180 non-null    object
 4   monthly_price  180 non-null    object
 5   $              180 non-null    object
dtypes: object(6)
memory usage: 9.8+ KB

In [47]:
#把month跟$轉為整數型態
df4['month'] = df4['month'].astype(int)
df4['$'] = df4['$'].astype(int)

d:\anaconda3\envs\anaconda_project\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

d:\anaconda3\envs\anaconda_project\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [50]:
#把monthly_price裡，逗號去除，並將資料轉為整數型態
df4['monthly_price'] = df4['monthly_price'].map(lambda e : int(e.replace(',','')))

d:\anaconda3\envs\anaconda_project\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [51]:
df4.head()

      購機優惠價         機型    容量  month  monthly_price      $
2  購機優惠價(元)  iPhone 12  64GB     48            999  13300
3  購機優惠價(元)  iPhone 12  64GB     48           1199  10800
4  購機優惠價(元)  iPhone 12  64GB     48           1399      0
5  購機優惠價(元)  iPhone 12  64GB     48           1599      0
6  購機優惠價(元)  iPhone 12  64GB     48           1799      0

In [52]:
#算出手機的成本價格 = 手機價格+合約價格
df4['total_price'] = df4['$'] + df4['month'] * df4['monthly_price']

d:\anaconda3\envs\anaconda_project\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [53]:
df4.head()

      購機優惠價         機型    容量  month  monthly_price      $  total_price
2  購機優惠價(元)  iPhone 12  64GB     48            999  13300        61252
3  購機優惠價(元)  iPhone 12  64GB     48           1199  10800        68352
4  購機優惠價(元)  iPhone 12  64GB     48           1399      0        67152
5  購機優惠價(元)  iPhone 12  64GB     48           1599      0        76752
6  購機優惠價(元)  iPhone 12  64GB     48           1799      0        86352

In [54]:
#將總成本由小到大排序
df4.sort_values('total_price')

        購機優惠價             機型     容量  month  monthly_price      $  total_price
144  購機優惠價(元)      iPhone 12   64GB     24            599  22300        36676
152  購機優惠價(元)      iPhone 12  128GB     24            599  23900        38276
96   購機優惠價(元)      iPhone 12   64GB     30            599  21300        39270
145  購機優惠價(元)      iPhone 12   64GB     24            799  21300        40476
104  購機優惠價(元)      iPhone 12  128GB     30            599  22900        40870
..        ...            ...    ...    ...            ...    ...          ...
7    購機優惠價(元)      iPhone 12   64GB     48           2699      0       129552
31   購機優惠價(元)  iPhone 12 Pro  128GB     48           2699      0       129552
39   購機優惠價(元)  iPhone 12 Pro  256GB     48           2699      0       129552
15   購機優惠價(元)      iPhone 12  128GB     48           2699      0       129552
47   購機優惠價(元)  iPhone 12 Pro  512GB     48           2699   1800       131352

[180 rows x 7 columns]

In [ ]:
#結論 : 可透過總成本，來評估方案是否值得